# Dependencies
node_modules/
**/node_modules/

# Production build outputs
dist/
**/dist/
build/
.figma/

# Environment variables
.env
.env.local
.env.*.local

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Local aliases
Loginpage_Sitioadmin/

